//dark-theme

//top nav
$dark-top-nav-text-color: #fff;
$dark-top-nav-bg-color: rgb(3 52 71 / 95%);
$dark-top-nav-bottom-border:1px solid #2a2f30;

//body-1
$dark-body1-text-color: #fff;
$dark-body1-bg-color: #033447;
